body {
  background-image: url("images/bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.content {
  display: block;
  max-width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.name-one {
  text-align: left;
}
.and {
  text-align: center;
}
.name-two {
  text-align: right;
}

h2 {
  font-size: 60px;
}

h2,
p {
  color: #ffffff;
}

.message {
  font-size: 30px;
  text-align: right;
  margin-top: 80px;
}

.letter-block {
  max-width: 1000px;
}

.language-name {
  color: #ffffff;
}
