body {
  background-image: url("images/bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.back-link {
  margin-top: 30px;
}
.content {
  margin-top: 100px;
}
.content,
.back-link {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.name-one {
  text-align: left;
}
.and {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.name-two,
.back-link {
  text-align: right;
}

h2 {
  font-size: 70px;
  line-height: 0.7;
}

p {
  margin-bottom: 30px;
}

h2,
p {
  color: #ffffff;
}

.message {
  font-size: 24px;
  text-align: right;
  margin-top: 100px;
}

.page-footer {
  color: #4e493c;
  font-size: 12px;
}
a {
  color: #60490d;
  text-decoration: none;
}
a:hover {
  color: #785a0f;
}

@media (max-width: 576px) {
  .content {
    max-width: 70%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 36px;
  }

  .message {
    font-size: 14px;
    text-align: right;
    margin-top: 60px;
  }
}
