body {
  background-image: url("images/bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.content {
  display: block;
  max-width: 60%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
.name-one {
  text-align: left;
}
.and {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.name-two {
  text-align: right;
}

h2 {
  font-size: 70px;
  line-height: 0.7;
}

p {
  margin-bottom: 30px;
}

h2,
p {
  color: #ffffff;
}

.message {
  font-size: 24px;
  text-align: right;
  margin-top: 100px;
}

@media (max-width: 576px) {
  .content {
    max-width: 70%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 36px;
  }

  .message {
    font-size: 14px;
    text-align: right;
    margin-top: 60px;
  }
}
